@{
 ViewBag.Title = "Qu?n tr?";
}

<h2>Trang qu?n tr?</h2>

<p>
 <a class="btn btn-primary" href="@Url.Action("Products", "Admin")">Qu?n lý s?n ph?m</a>
 <a class="btn btn-secondary" href="@Url.Action("Users", "Admin")">Qu?n lý ng??i dùng</a>
</p>